body{
    color: var(--color-principal);
    font-family: var(--font-family-principal);
    font-weight: 400;
}
h1{
    font-family: var(--font-family-heading);
    font-weight: 600;
}
.container{
    width: 100vw;
    height: 100vh;
    background: url(../images/bg-desktop.svg);
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
}
/* header */
.header{
    padding-bottom: 40px;
}
/* main */
.main{
    display: flex;
}
.main .imagem{
    width: 50%;
}
.main .imagem img{
    width: 80%;
}

.conteudo{
    width: 40%;
    margin-inline: 20px;
}

.conteudo button{
    padding: 15px 80px 15px 80px;
    border-radius: 50px;
    color: var(--bg-color);
    font-family: var(--font-family-heading);
    font-weight: 400;
}

/* footer */
.footer .redes-sociais ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.footer li{
    width: 30px;
    height: 30px;
    border: 1px solid;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: 3px;
}
.footer a{
    color: var(--color-principal);
}