.container{
    width: 100vw;
    background: url(../images/bg-desktop.svg);
    background-color: var(--bg-color);
    display: flex;  
}
/* header */
.header{
    width: 100vw;
}
.header .logo{

}

/* main */
.main .imagem img{
    width: 50%;
}


/* footer */