body{
    color: var(--color-principal);
    font-family: var(--font-family-principal);
    font-weight: 400;
}
h1{
    font-family: var(--font-family-heading);
    font-weight: 600;
}
.container{
    width: 100vw;
    height: 100vh;
    background: url(../images/bg-desktop.svg);
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
}
/* header */
.header{
    padding-bottom: 40px;
}
/* main */
.main{
    display: flex;
}
.main .imagem img{
    width: 100%;
}

.conteudo{
    width: 40%;
    margin-inline: 20px;
}

.conteudo button{
    padding: 15px 80px 15px 80px;
    border-radius: 50px;
    color: var(--bg-color);
    font-family: var(--font-family-heading);
    font-weight: 400;
}

/* footer */
.footer{
    display: flex;
    color : var(--bg-redes-sociais);
}
