:root{
    /* cores */
    --bg-color: hsl(257, 40%, 49%);
    --color-principal: #ffffff;
    --bg-redes-sociais: #fff;
    --button-active: hsl(300, 69%, 71%);

    
    /* Fontes */
    --font-family-heading: "Poppins", sans-serif;
    --font-family-principal: "Open Sans", sans-serif;
}